In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password='@Kenny8308'
)
mycursor = mydb.cursor()

In [5]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('accesswayprimebank',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [4]:
# CREATING DATA BASE
mycursor.execute('create database accesswayprimebank')

1

In [7]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password='@Kenny8308',
    database='accesswayprimebank'
)
mycursor = mydb.cursor()

In [8]:
mycursor.execute('create table mainstaffdetails(staffid int primary key not null auto_increment,staffname varchar(255) not null,staffgender varchar(10) not null, staffdesignation varchar(50) not null)')

0

In [9]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('mainstaffdetails',)