In [1]:
import pymysql

In [4]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password='@Kenny8308',
    database='accesswayprimebank'
)
mycursor = mydb.cursor()

In [5]:
mycursor.execute('alter table mainstaffdetails add column staffqualification varchar(80) not null')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdesignation', 'varchar(50)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [6]:
mycursor.execute('alter table mainstaffdetails modify column staffdesignation varchar(150) not null')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [7]:
mycursor.execute('alter table mainstaffdetails add column staffcontact varchar(45) not null after staffgender')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(45)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [8]:
mycursor.execute('alter table mainstaffdetails add column duplicateid varchar(45) not null first')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('duplicateid', 'varchar(45)', 'NO', '', None, '')
('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(45)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [9]:
# HOW TO DELETE A COLUMN
mycursor.execute('alter table mainstaffdetails drop column duplicateid')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(45)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [10]:
# HOW TO RENAME A COLUMN
mycursor.execute('alter table mainstaffdetails change column staffcontact staffphonenumber varchar(80) not null')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffphonenumber', 'varchar(80)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [17]:
#HOW TO CHANGE A TABLES NAMES 
#mycursor.execute('alter table mainstaffdetails rename to permenantstaffdetails')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('permrnantstaffdetails',)

In [18]:
#how to edit the value inside the table
#INSERT
sql = 'insert into permrnantstaffdetails(staffid,staffname,staffgender,staffphonenumber,staffdesignation,staffqualification) values (%s,%s,%s,%s,%s,%s)'
val = [(1,'OBED AKPAN','MALE','08023456754','SENIOR MARKETING OFFICER1','DOCTORATE DEGREE'),
      (2,'OKORO LUCY','FEMALE','08091987391','REGIONAL MANAGER','MBA'),
      (3,'JANET AKINLABI','FEMALE','0807685958','BRANCH MANAGER','MASTERS'),
      (4,'PAUL LAWAL','MALE','08077632452','HEAD OF MARKETING','DOCTORATE DEGREE'),
      (5,'SUSAN PWAJOK','FEMALE','09086552197','SENIOR MARKETING OFFICER2','MASTERS'),
      (6,'SAMUEL OKORO','MALE','08091867584','HEAD OF ICT','PHD'),
      (7,'MARY KWAWA','FEMALE','08167484784','CUSTOMER REPRESENTATIVE 1','BSC')]
mycursor.executemany(sql,val)
mydb.commit()

In [20]:
#SELECT
# * means OR
mycursor.execute('select*from permrnantstaffdetails')
for x in mycursor:
    print(x)

(1, 'OBED AKPAN', 'MALE', '08023456754', 'SENIOR MARKETING OFFICER1', 'DOCTORATE DEGREE')
(2, 'OKORO LUCY', 'FEMALE', '08091987391', 'REGIONAL MANAGER', 'MBA')
(3, 'JANET AKINLABI', 'FEMALE', '0807685958', 'BRANCH MANAGER', 'MASTERS')
(4, 'PAUL LAWAL', 'MALE', '08077632452', 'HEAD OF MARKETING', 'DOCTORATE DEGREE')
(5, 'SUSAN PWAJOK', 'FEMALE', '09086552197', 'SENIOR MARKETING OFFICER2', 'MASTERS')
(6, 'SAMUEL OKORO', 'MALE', '08091867584', 'HEAD OF ICT', 'PHD')
(7, 'MARY KWAWA', 'FEMALE', '08167484784', 'CUSTOMER REPRESENTATIVE 1', 'BSC')

In [23]:
# UPDATE
mycursor.execute('update permrnantstaffdetails set staffqualification = "DOCTORATE DEGREE" where staffid =5')
for x in mycursor:
    print(x)

In [24]:
mycursor.execute('select*from permrnantstaffdetails')
for x in mycursor:
    print(x)

(1, 'OBED AKPAN', 'MALE', '08023456754', 'SENIOR MARKETING OFFICER1', 'DOCTORATE DEGREE')
(2, 'OKORO LUCY', 'FEMALE', '08091987391', 'REGIONAL MANAGER', 'MBA')
(3, 'JANET AKINLABI', 'FEMALE', '0807685958', 'BRANCH MANAGER', 'MASTERS')
(4, 'PAUL LAWAL', 'MALE', '08077632452', 'HEAD OF MARKETING', 'DOCTORATE DEGREE')
(5, 'SUSAN PWAJOK', 'FEMALE', '09086552197', 'SENIOR MARKETING OFFICER2', 'DOCTORATE DEGREE')
(6, 'SAMUEL OKORO', 'MALE', '08091867584', 'HEAD OF ICT', 'PHD')
(7, 'MARY KWAWA', 'FEMALE', '08167484784', 'CUSTOMER REPRESENTATIVE 1', 'BSC')

In [25]:
# DELETE
mycursor.execute('delete from permrnantstaffdetails where staffid = 7')
mycursor.execute('select*from permrnantstaffdetails')
for x in mycursor:
    print(x)

(1, 'OBED AKPAN', 'MALE', '08023456754', 'SENIOR MARKETING OFFICER1', 'DOCTORATE DEGREE')
(2, 'OKORO LUCY', 'FEMALE', '08091987391', 'REGIONAL MANAGER', 'MBA')
(3, 'JANET AKINLABI', 'FEMALE', '0807685958', 'BRANCH MANAGER', 'MASTERS')
(4, 'PAUL LAWAL', 'MALE', '08077632452', 'HEAD OF MARKETING', 'DOCTORATE DEGREE')
(5, 'SUSAN PWAJOK', 'FEMALE', '09086552197', 'SENIOR MARKETING OFFICER2', 'DOCTORATE DEGREE')
(6, 'SAMUEL OKORO', 'MALE', '08091867584', 'HEAD OF ICT', 'PHD')